<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count The Tables</title>
</head>
<body>
    <h1>Total Numbers of Entery is:<%= count %></h1>
</body>
</html>